<h2>Table of Contents:</h2>
<ol>
 <li>
  <a href="#same-component-header">Data Flow in the Same Component</a>
  <ol type="a">
   <li>
    <a href="#binding-header">Binding</a>
    <ul>
     <li>
      <a href="#one-way-binding-header">One-Way Binding</a>
      <ul>
       <li>
        <a href="#interpolation-header">Interpolation
         <code ng-non-bindable>&#123;<i></i>&#123;&#125;<i></i>&#125;</code></a>
       </li>
       <li>
        <a href="#property-binding-header">Property Binding <code>[]</code></a>
       </li>
       <li>
        <a href="#event-binding-header">Event Binding <code>()</code></a>
       </li>
      </ul>
     </li>
     <li>
      <a href="#two-way-binding-header">Two-Way Binding</a>
      <ul>
       <li>
        <a href="#ng-model-header">NgModel <code>[(<i></i>)]</code></a>
       </li>
      </ul>
     </li>
    </ul>
   </li>
   <li><a href="#two-way-binding-split-header">Two-Way Binding Split</a></li>
   <li><a href="#getters-and-setters-header">Getters and Setters</a></li>
   <li>
    <a href="#view-child-header">@ViewChild() (to get DOM element data)</a>
   </li>
  </ol>
 </li>
 <li>
  <a href="#parent-child-components-header">Data Flow in Parent/Child Components</a>
  <ol type="a">
   <li><a href="#input-decorator-header">@Input()</a></li>
   <li>Getters and Setters</li>
   <li>ngOnChanges()</li>
   <li>TemplateReferenceVariables</li>
   <li>ViewChild()</li>
   <li>Emitting Events</li>
   <li>Services</li>
  </ol>
 </li>
 <li>
  <a href="#separate-components-header">Data Flow in Separate Components</a>
 </li>
 <li><a href="#use-cases-header">Which One Should I Use?</a></li>
 <li><a href="#useful-links-header">Useful Links</a></li>
</ol>