<h1 id="top-of-page">Angular Data Flow Tutorial</h1>
<p>
 This is intended to be a quick guide into the various means of passing data in
 Angular.
</p>

<!-- Table of Contents -->
<app-toc></app-toc>

<!-- Same Component info -->
<app-binding></app-binding>

<!-- Parent/Child Components -->
<app-parent-child></app-parent-child>

<!-- Separate Components -->
<app-separate-components></app-separate-components>

<!-- Use Cases -->
<app-use-cases></app-use-cases>

<!-- Useful Links -->
<app-useful-links></app-useful-links>

<!-- Return to Top button -->
<a href="#top-of-page">
 <div id="return-to-top-button" class="flex-container-row">
  <div id="return-to-top">Return to Top</div>
  <div>▲</div>
 </div>
</a>
